/* src/fonts/fonts.css */
@font-face {
  font-family: 'YourFont';
  src: url('../fonts/Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal; /* or bold for bold fonts */
  font-style: normal;  /* or italic for italic fonts */
}

@font-face {
  font-family: 'YourFont2';
  src: url('../fonts/Fonts/MonumentExtended/MonumentExtended-Regular.otf') format('truetype');
  font-weight: normal; /* or bold for bold fonts */
  font-style: normal;  /* or italic for italic fonts */
}
@font-face {
  font-family: 'YourFont3';
  src: url('../fonts/Fonts/911Porscha/911porschav3.ttf') format('truetype');
  font-weight: normal; /* or bold for bold fonts */
  font-style: normal;  /* or italic for italic fonts */
}
@font-face {
  font-family: 'YourFont4';
  src: url('../fonts/Fonts/Nagasaki/nagasaki.ttf') format('truetype');
  font-weight: normal; /* or bold for bold fonts */
  font-style: normal;  /* or italic for italic fonts */
}
@font-face {
  font-family: 'YourFont5';
  src: url('../fonts/Fonts/PeckhamPress/PeckhamPress-Trial.otf') format('truetype');
  font-weight: normal; /* or bold for bold fonts */
  font-style: normal;  /* or italic for italic fonts */
}



.big-shoulders-inline {
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* DynaPuff */
.dynapuff-fancy {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Oregano */
.oregano-regular {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: normal;
}

.oregano-regular-italic {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: italic;
}

/* Pacifico */
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Big Shoulders Inline */
.big-shoulders-inline-bold {
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Winky Rough */
.winky-rough-soft {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
